---
---

$antelope-magenta: #ea7d96;
$antelope-teal: #75bfa4;
$antelope-orange: #e08648;
$antelope-charcoal: #525252;
$antelope-light-charcoal: #828282;
$antelope-light-grey: #cccccc;

@mixin cubic-bezier-transition() {
	-webkit-transition: all cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.25s;
	-ms-transition: all cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.25s;
  	-moz-transition: all cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.25s;
  	transition: all cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.25s; /* easeInOutCubic custom */
}

@mixin cubic-bezier-transition-with-time($seconds) {
	-webkit-transition: all cubic-bezier(0.645, 0.045, 0.355, 1.000) $seconds;
	-ms-transition: all cubic-bezier(0.645, 0.045, 0.355, 1.000) $seconds;
  	-moz-transition: all cubic-bezier(0.645, 0.045, 0.355, 1.000) $seconds;
  	transition: all cubic-bezier(0.645, 0.045, 0.355, 1.000) $seconds; /* easeInOutCubic custom */
}

@mixin linear-transition-with-time($seconds) {
	-webkit-transition: all linear $seconds;
	-ms-transition: all linear $seconds;
	-moz-transition: all linear $seconds;
	transition: all linear $seconds;
}

section#top-section {
	padding-top: 40px;
	overflow: hidden;

	.text-container {
		max-width: 350px;
		margin: auto;

		h1 {
			font-weight: 400;
			font-size: 24px;
		}
	}

	.img-container {
		position: relative;
	}

	@media (min-width: 650px) {
		#video-container.shift {
			-webkit-transform: translate(-50%, 0);
		}
	}

	@media (max-width: 649px) {
		#video-container #video-text-container {
			display: none;
		}
	}

	#video-container {
		width: 280px;
		margin: auto;
		overflow: visible;

		@include cubic-bezier-transition-with-time(1.0s);

		img {
			width: 100%;
		}

		$left: 20px;
		$top: 76px;
		$width: 240px;

		#video {
			position: absolute;
			width: $width;
			left: $left;
			top: $top;
			z-index: 10;
		}

		#video-blackout {
			display: block;
			width: $width;
			left: $left;
			top: $top;
			position: absolute;
			height: 800px;
			background-color: black;
		}
	}

	#video-text-container {
		width: 300px;
		text-align: left;
		position: absolute;
		left: 300px;
		top: 75px;

		h3 {
			font-size: 14px;
			color: $antelope-charcoal;
			opacity: 0;
			margin-bottom: 5px;
			margin-top: 10px;

			@include cubic-bezier-transition-with-time(1.0s);

			&.show {
				margin-top: 0px;
				opacity: 1.0;
			}
		}

		.load-time-label {
			opacity: 0;
			margin-top: 20px;

			@include cubic-bezier-transition-with-time(1.0s);

			&.show {
				opacity: 1.0;
				p {
					font-size: 11px;
					opacity: 1.0;
					font-weight: 500;
				}
			}

			label {
			}
		}

		label {
			font-size: 11px;
			font-weight: 600;
			margin-bottom: 0px;
		}

		p {
			font-size: 11px;
			color: #aaa;
			opacity: 0;
			margin-bottom: 5px;
			margin-top: 20px;

			@include cubic-bezier-transition-with-time(1.0s);

			&.show {
				opacity: 1.0;
			}
		}

		.bar {
			position: relative;
			display: block;
			height: 3px;
			width: 0px;
			background-color: $antelope-teal;
			margin-bottom: 3px;
			opacity: 0.65;

			&.show {
				opacity: 1.0;

				.bar-timer {
					opacity: 1.0;
				}
			}

			.bar-timer {
				opacity: 0;
				position: absolute;
				right: 0px;
				top: 7px;
				font-size: 10px;
				font-weight: 600;
				color: $antelope-light-charcoal;

				@include cubic-bezier-transition-with-time(1.0s);

				&::before {
					position: absolute;
					top: 15px;
					width: 100%;
					height: 3px;
					background-color: black;
				}
			}
		}

		#without-antelope-load-bar {
			@include linear-transition-with-time(4.05s);

			&.expanded {
				width: 240px;
			}
		}

		#without-antelope-async-load-bar {
			@include linear-transition-with-time(2.05s);

			&.expanded {
				width: 120px;
			}
		}

		#with-antelope-load-bar {
			@include linear-transition-with-time(2.0s);

			&.expanded {
				width: 120px;
			}
		}

		#with-antelope-async-load-bar {
			background-color: none;

			.bar-timer {
				left: 0px;
			}

			&.expanded {
				width: 1px;
			}
		}

		#methodology-description {
			font-size: 10px;
			max-width: 220px;
			margin-top: 80px;
		}

		.bar.magenta {
			background-color: $antelope-magenta;
		}
	}
	
	img {
		margin: auto;
	}

	hr.divider {
		border-top: 1px solid #ccc;
		width: 30px;
	}
}

section#second-section {
	background-color: $antelope-teal;
	padding: 160px 0px;
	color: white;

	h2 {
		font-weight: 300;
	}

	hr {
		border-top: 1px solid rgba(255, 255, 255, 0.8);
		width: 30px;
		float: right;
		margin-top: 10px;
		margin-bottom: 0px;
	}

	#white-antelope {
		margin-left: 20px;
		margin-top: 86px;
		opacity: 0.98;
	}

	#site-will-bullet-points {
		float: right;
		clear: both;

		li {
			font-size: 18px;
			list-style: none;
			margin: 20px 0px;
		}
	}

	@media (max-width: 480px) {

	}
}