$antelope-teal: #75bfa4;

#footer {
	padding: 60px 0px;

	#footer-download-button {
		border: 2px solid $antelope-teal;
		padding: 8px 30px;
		font-size: 16px;
		font-weight: 400;
		background-color: white;
		color: $antelope-teal;
		border-radius: 4px;
		margin-bottom: 60px;
	}

	p {
	}

	#notification {
		font-size: 12px;
		font-weight: 600;
	}

	.divider {
		width: 40px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}